.fs-sidebar {
  font-size: 1.2rem;
}

.active-tab {
  background-color: #007bff; /* Change this to your desired background color */
  color: #fff; /* Change this to your desired text color for the active tab */
}
