body {
  margin: 0;
  font-family: 'Poppins', sans-serif; 
}

h1 {
  text-align: center;
  font-style: italic;
  letter-spacing: 3px;
}

.search {
  margin-right: 10px;
}

#root{
  background: linear-gradient(to bottom, #ffffff, #dddddd00); 
  overflow-x: hidden;
}
